.toolbar {
  display: flex;
  height: 40px;
  padding: 5px 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.toolbar button:not([disabled]) {
  cursor: pointer;
}

.toolbar > * {
  margin: 0 2px;
}

.toolbar .group {
  display: flex;
  margin: 0 5px;
  border: 1px solid #666;
}

.toolbar .group > * {
  margin: 1px;
}

.toolbar .group input {
  width: 4em;
  text-align: center;
}

.toolbar .group label {
  color: white;
  margin: auto 3px;
}

.toolbar .text {
  color: white;
  margin: auto 16px;
}
