.viewport {
  background-color: black;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
}

.page {
  display: inline-block;
  border: 9px solid transparent;
  overflow: visible;
  position: relative;
  margin: auto;
}
