.screenViewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.editorArea {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 390px;
  background-color: #333;
}

.toolbar {
  display: flex;
  height: 40px;
  padding: 5px 5px;
  box-sizing: border-box;
}

.toolbar button {
  cursor: pointer;
}

.toolbar .scale {
  display: flex;
  margin: 0 5px;
  border: 1px solid #666;
}

.toolbar .scale > * {
  margin: 1px;
}

.toolbar .scale input {
  width: 4em;
  text-align: center;
}

.pdfViewport {
  position: absolute;
  top: 40px;
  bottom: 7px;
  left: 10px;
  right: 10px;
  border: 1px solid black;
}
