.overlay {
  width: 100%;
  height: 100%;
}

.overlay .item {
  position: absolute;
  user-select: none;
  color: blue;
  cursor: pointer;
  font-family: 'Roboto';
  outline-offset: 0.5em;
}

.overlay .item.selected {
  outline: 1px solid red;
  cursor: grab;
}
